{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid mt-4">
        <h1>Welcome to the Ecommerce App</h1>
        <p>This is the home page.</p>
        <div id="loadedSpinner">
            <div class="spinner-grow text-primary" role="status" >
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="row" id="productContainer">
            <!-- Products will be dynamically loaded here -->
        </div>
    </div>    
<script src="/static/script.js"></script>
{% endblock %}